%tr
  %td
    .comment
      %a{:id => "comment-#{comment.id}"}
      = render :partial => 'comments/single_comment', :locals => {:comment => comment}

      .reply-link
        = link_to 'reply', "", :id => "reply-link-#{comment.id}", :href => "#"
        :javascript
          $(document).ready(function(){
            $('#reply-link-#{comment.id}').bind('click', function(){
              $('#reply-box-form-#{comment.id}').toggleClass('hidden');
              return false;
            });
          });

      .reply-box
        = form_for :comment, :url => {:controller => :comments, :action => :create}, :remote => true, :method => :post, :html => {:class => "hidden", :id => "reply-box-form-#{comment.id}"} do |f|
          %input{:type => :hidden, :name => "comment[submission_id]", :value => comment.submission.id}
          %input{:type => :hidden, :name => "comment[parent_id]", :value => comment.id}
          .field
            = f.text_area :text, :value => ""
          .actions
            = f.submit "Reply"
          :javascript
            $(document).ready(function(){
              $('#reply-box-form-#{comment.id}').bind('ajax:success', function(obj, data){
                $('#reply-box-form-#{comment.id}').addClass('hidden');
                $('#reply-box-form-#{comment.id} textarea').attr("value","");

                var content = $(data);
                content.hide();
                $("#child-comments-#{comment.id}").prepend(content);
                S.apply_theme(content);
                content.fadeIn(1000);

                return false;
              });
            });

    %table{:id => "child-comments-#{comment.id}", :class => "child-comments"}
      - comment.children.each do |comment|
        = render :partial => 'comments/comment', :locals => {:comment => comment}
