= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  - if current_user_is_admin?
    %h3 Admin settings
    .explanation Regular users cannot modify these settings.
    .field
      = f.label :username
      = f.text_field :username
    .field
      = f.label :admin
      = f.check_box :admin

  %h3 Email notifications
  .explanation
    = "Allow or disallow all email notifications from #{app_name}"
  .field
    = f.label :allow_email_notifications
    = f.check_box :allow_email_notifications

  %h3 Blurb
  .field
    .explanation You can provide a blurb of text if you want to tell other users about yourself.
    = f.text_area :profile_text
  .actions
    = f.submit 'Save'
