= render :partial => 'users/profile_header', :locals => {:user => @user}
= render :partial => "users/filters", :locals => {:user => @user}

- if current_user == @user
  - if @user.profile_text.blank?
    %p You did not provide a profile blurb.

  %p{:class => 'profile-text'}= @user.profile_text
  %p= link_to "Edit blurb", edit_user_path(@user)

- else
  %p{:class => 'profile-text'}= @user.profile_text.blank? ? "This user did not provide a profile blurb." : @user.profile_text
