- whole_text ||= false
- index ||= false

%table{:class => "single-submission #{whole_text ? 'whole-description' : ''}"}
  %tr{:class => resolve_class_for_coloring_submission(submission)}
    %td{:class => 'rank'}
      - if index
        - rank = index + 1
        - if !params[:page].nil? and params[:page].to_i > 1
          - rank = rank + (params[:page].to_i - 1) * Submission.default_per_page
        = "#{rank}."
    %td{:class => 'vote-area'}
      = render :partial => "submissions/vote", :locals => {:submission => submission}
    %td
      = render :partial => "submissions/body", :locals => {:submission => submission, :whole_text => whole_text}

  - if whole_text and !current_user.nil?
    %tr
      %td
      %td
      %td
        - if submission.user == current_user
          = link_to 'Edit your submission', edit_submission_path(submission)
        - elsif current_user_is_admin?
          = link_to 'Edit this submission', edit_submission_path(submission)


