- whole_text ||= false
- index ||= false
- show_comment_form ||= false

%table{:class => "single-submission #{whole_text ? 'whole-description' : ''}"}
  %tr{:class => resolve_class_for_coloring_submission(submission)}
    %td{:class => 'rank'}
      - if index
        - rank = index + 1
        - if !params[:page].nil? and params[:page].to_i > 1
          - rank = rank + (params[:page].to_i - 1) * Submission.default_per_page
        = "#{rank}."
    %td{:class => 'vote-area'}
      = render :partial => "submissions/vote", :locals => {:submission => submission}
    %td
      = render :partial => "submissions/body", :locals => {:submission => submission, :whole_text => whole_text}

  - if whole_text and !current_user.nil?
    %tr
      %td{:class => 'rank'}
      %td
      %td
        - if submission.user == current_user
          .actions
            = link_to 'Edit your submission', edit_submission_path(submission)
        - elsif current_user_is_admin?
          .actions
            = link_to 'Edit this submission', edit_submission_path(submission)

  - if show_comment_form
    %tr
      %td{:class => 'rank'}
      %td
      %td
        = form_for :comment, :url => {:controller => :comments, :action => :create}, :remote => true, :method => :post, :html => {:id => 'post-comment-at-top'} do |f|
          %input{:type => :hidden, :name => "comment[submission_id]", :value => @submission.id}
          .field
            = f.text_area :text
          .actions
            = f.submit "Reply"
          :javascript
            $(document).ready(function(){

              $('#post-comment-at-top').bind('ajax:beforeSend', function(xhr, settings){
                return $(this).find("textarea").attr('value') !== "";
              });

              $('#post-comment-at-top').bind('ajax:success', function(obj, data){
                $("#comments-list tbody").prepend(data);
                $(this).remove();
              });
            });
