- set_page_title truncate(@submission.title, :length => 100)

= render :partial => 'submissions/single_submission', :locals => {:submission => @submission, :index => nil, :whole_text => true}

= form_for :comment, :url => {:controller => :comments, :action => :create}, :remote => true, :method => :post, :html => {:id => 'post-comment-at-top'} do |f|
  %input{:type => :hidden, :name => "comment[submission_id]", :value => @submission.id}
  = f.text_area :text
  = f.submit "reply"
  :javascript
    $(document).ready(function(){

      $('#post-comment-at-top').bind('ajax:beforeSend', function(xhr, settings){
        return $(this).find("textarea").attr('value') !== "";
      });

      $('#post-comment-at-top').bind('ajax:success', function(obj, data){
        $("#comments-list tbody").prepend(data);
        $(this).remove();
      });

    });

%table{:id => "comments-list"}
  %tbody
    - @submission.top_level_comments.each do |comment|
      = render :partial => 'comments/comment', :locals => {:comment => comment}

